.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-nav > li{
  padding-left:15px;
  padding-right:15px;
}

.about {
    background-color: lightblue;
}

.section {
    height: 120vh;
}

.contact-icon {
    font-size: 20px;
    color: white;
    background-color: grey;
    border-radius: 25px;
    margin: 20px;
    padding: 15px;
}
