body {
    font-family: 'Saira Condensed', sans-serif !important;
    font-size: 21px;
}

h1 {
    font-size: 70px;
    font-weight: bold;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 28px;
    font-weight: bold;
}

li {
    font-size: 21px;
}

.masthead-title {
    font-size: 150px;
}

.masthead-desc {
    font-size: 30px;
}


.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
    font-weight: 600;
}

.navbar-nav > li{
  padding-left:15px;
  padding-right:15px;
}

.about {
    background-color: lightblue;
}

.section {
    height: 100vh;
}

.contact-icon {
    font-size: 20px;
    color: white;
    background-color: grey;
    border-radius: 25px;
    margin: 20px;
    padding: 15px;
}

.carousel {
  width: 100%;
}

.carousel-inner{
  width:100%;
  max-height: 600px !important;
}
